<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cryptowallet.deviantx">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Utilities.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="sensorPortrait"
            android:stateNotNeeded="true"
            tools:replace="screenOrientation">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activities.DashBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme" />
        <activity
            android:name=".UI.Activities.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.SignUpEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.SetUpWalletActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.AccountRecoveryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.WalletListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.AppSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.DeviantXActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.AddCoinsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.SendCoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.ReceiveCoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.CoinInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.WalletOptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.WalletDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.WalletHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.RecoveryConfirmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.ShapeShiftActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.ECTActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.ChangellyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.AddPhraseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.ConfirmPhraseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.SeedRecoveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.ExploreCoinsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.EditWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.FeaturedADListAcivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.RecentADHistoryAcivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.CoinInfoADAcivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.WithdrawFundsAirdropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.TwoFAAirDropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.DepositWalletAirdropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.TwoFAEnable1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.TwoFAEnable2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.TwoFAEnableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.TwoFAAbleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.TwoFALoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.ExchangeDashBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.TwoFASendCoinActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".UI.Services.WalletDataFetch"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".UI.Services.AllCoinsFetch"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".UI.Services.AirdropWalletFetch"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".UI.Services.FeaturedAirdropsFetch"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".UI.Receiver.RefreshServiceReceiver"
            android:process=":remote" />
        <!--
             <meta-data
             android:name="io.fabric.ApiKey"
             android:value="f78cd6c413d66026216e45f925c152c9fbd33912"
             />
        -->

        <activity
            android:name=".UI.Activities.ExchangeSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.SetPinTradesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.ExchangeOrderHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.ExchangeCoinInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activities.SetAppPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.AppPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- Firebase Notifications -->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_icon" />

        <service android:name=".FCM.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
         <service android:name=".FCM.service.MyFirebaseInstanceIDService">
             <intent-filter>
                 <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
             </intent-filter>
         </service>
        -->
        <service
            android:name=".FCM.service.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <activity
            android:name=".UI.Activities.SelectADCampaignsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.CreateADCampaignsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UI.Activities.DividendADListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

    </application>

</manifest>